<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cats&Dogs</title>
</head>
<body>
<h1>Cats&Dogs</h1>
<p>
    API <br>
    for cats:<br>
    1. /api/cats/username/ : List all cats (Also accept POST and PUT)<br>
    2. /api/dogs/username/1 : Returns cat if its id is 1 (Also accept DELETE)<br>
    for dogs:<br>
    1. /api/dogs/username/ : List all cats (Also accept POST and PUT)<br>
    2. /api/dogs/username/1 : Returns cat if its id is 1 (Also accept DELETE)<br>
</p>
</body>
</html>